[2019-02-05 20:21] herbdool opened #1 "taxonomy_term_edit_access() doesn't exist"
Looks like `taxonomy_term_edit_access()` was removed after Drupal 7. In line https://github.com/backdrop-contrib/entity_plus/blob/b8b3f13cb270b315941ea2c7356044cc76a9ff6c/modules/callbacks.inc#L802

Not clear why it was removed but perhaps can just add directly: ` user_access("edit terms in {$term->vid}")`

[2019-02-13 18:04] laryn opened #2 "Unsupported operand types"
Trying to make a branch of Rules that uses Entity Plus instead of EMW and I hit this:

[2019-02-27 14:30] sbgraphicdesign opened #3 "Error when creating or editing content"
With this module enabled I'm getting a php error whenever I create or edit content. I've seen this on two separate websites and it appears to be related to the Entity and related modules, such as Entity Plus, Entity Reference etc.
Here's a report from my error log:

I've seen different errors reported by different modules (when I was switching modules on and off to find which one was causing the e

[2019-02-27 16:31] laryn commented on #3
I think this looks like an Entity Plus issue so I've transferred it there.

[2019-02-27 16:43] sbgraphicdesign commented on #3
Sorry, I should have been clearer. When I switch Focal Point off, I'm able to create and edit content. When I switch Focal Point on, I'm not.

[2019-02-27 17:29] laryn commented on #3
You mention it happened with other modules doing this, too -- is it the same error/line number in the entity plus module?

[2019-02-27 17:41] sbgraphicdesign commented on #3
No, here's another error message from a second site (which is using Entity reference).

`Error: Call to undefined function entity_metadata_field_default_property_callback() in entityreference_field_property_callback() (line 626 of /public_html/modules/entityreference/entityreference.module).`

At this point I realised that Focal Point was the last module I'd installed, so I uninstalled it and ever

[2019-02-27 18:28] laryn commented on #3
Can you provide a list of modules you're using on each site?

[2019-02-27 18:53] sbgraphicdesign commented on #3
**Non Core Modules on Site 1:**
addressfield
better_exposed_filters
captcha
default_views_config
devel
entity_metadata_wrapper
entity_plus
entity_ui
entityreference
feeds
feeds_facebook
field_group
field_sql_norevisions
focal_point
gdpr_cookies
geocoder
geofield
geophp
google_fonts
googleanalytics
html5_upload
image_effects
image_url_formatter
job_scheduler
libraries
rabbit_hole
recaptcha
seo_meta

[2019-02-27 19:40] laryn commented on #3
There's a conflict between Entity Plus and Entity Metadata Wrapper which may be to blame here (just speculating since I know about the conflict and both modules are installed on both sites). Which modules in use here require EMW? (EMW is the one that is being phased out in favor of E+).

It's a different error, but see: https://github.com/backdrop-contrib/entityreference/issues/17

[2019-02-27 20:27] sbgraphicdesign commented on #3
Yeah I realised I had Entity Metadata Wrapper & Entity UI still installed from when I tried to install Rules. Have uninstalled both modules (and checked database for any reference just in case) and I'm still getting the same error with Focal Point.

Sorry!

[2019-02-27 21:43] sbgraphicdesign commented on #3
Not sure if this is related but just got this error when doing a database update for another module update:

`Warning: class_implements(): Class BackdropDefaultEntityController does not exist and could not be loaded in entity_plus_entity_info_alter() (line 199 of /public_html/modules/entity_plus/entity_plus.module).`

[2019-02-28 06:22] laryn commented on #3
Just to check -- do you have the latest version of Entity Plus installed?

[2019-02-28 09:09] sbgraphicdesign commented on #3
Yes, 1.0.2 is the version I have installed.

[2019-02-28 17:22] laryn commented on #3
The error at the top references `geofield` -- can you have `focal point` enabled if you turn off `geofield`?

[2019-02-28 19:05] sbgraphicdesign commented on #3
Sorry, no I'm now getting

`Error: Call to undefined function entity_metadata_field_default_property_callback() in entityreference_field_property_callback() (line 626 of /public_html/modules/entityreference/entityreference.module).`

Additionally (and this was before I enabled Focal Point) I'm getting the following warnings:

`Warning: class_implements(): Class BackdropDefaultEntityController does

[2019-02-28 21:38] aaronbowwwls commented on #1
I think taxonomy_term_access() can be used in its place.
[code]

[2019-02-28 21:52] herbdool commented on #1
@aaronlphillips the only problem is that for some reason `taxonomy_term_access` only checks `$op` for "edit" and "delete". Perhaps we need to just hardcode "edit" into it

[2019-03-01 14:16] aaronbowwwls commented on #1
@herbdool good point. I also just noticed that I had my parameters flipped for `taxonomy_term_access`.
I found an issue for the taxonomy module to addresses your point about `$op`, but the fix hasn't made it into core yet.
https://github.com/backdrop/backdrop-issues/issues/3011

Once these changes make it into core, then it might be safe to rely on the taxonomy module to determine access.

[2019-03-01 14:37] aaronbowwwls commented on #1
I think this will work:
[code]

[2019-03-01 16:27] herbdool opened #4 "undefined property in entity_plus_metadata_taxonomy_access()"
Error:

[2019-03-01 16:44] laryn commented on #3
Looks like @herbdool is on the case for that first error over in Entity Reference:
https://github.com/backdrop-contrib/entityreference/issues/18

The second may be an Entity Plus issue so this issue can serve as the space for conversation on that one. Do you want to tweak the title and maybe update the first post to clarify the current status of this issue?

[2019-03-01 20:50] herbdool opened #5 "entity_plus_get_controller() should be entity_get_controller()"
Function doesn't exist

[2019-03-02 17:18] sbgraphicdesign commented on #3
@laryn I'm really sorry for messing you around. I've now set up a new backdrop install to chase this issue down, and it's definitely Geofield that is causing the error. I'll start a new issue.

[2019-03-02 17:18] #3 closed, assigned to nobody

[2019-03-02 18:18] laryn commented on #3
@sbgraphicdesign I'll make sure not to transfer your new issue out of geofield -- sorry about that!

[2019-03-04 20:47] #1 closed, assigned to nobody

[2019-03-04 20:48] #5 closed, assigned to nobody

[2019-03-04 20:49] herbdool commented on #4
Addressed in https://github.com/backdrop-contrib/entity_plus/pull/7

[2019-03-04 20:49] #4 closed, assigned to nobody

[2019-03-04 20:52] herbdool commented on #2
@laryn do you still get this error even with your latest fixes to your branch of Rules?

[2019-03-04 21:16] laryn commented on #2
@herbdool I'll have to test again to be sure. I just submitted the branch as a PR: https://github.com/backdrop-contrib/rules/pull/31

[2019-03-09 15:54] sbgraphicdesign opened #8 "PHP warnings appearing in Log"
I'm getting php warnings in my log:

`Warning: in_array() expects parameter 2 to be array, boolean given in entity_plus_entity_info_alter() (line 199 of /public_html/modules/entity_plus/entity_plus.module).`

`Warning: class_implements(): Class BackdropDefaultEntityController does not exist and could not be loaded in entity_plus_entity_info_alter() (line 199 of /public_html/modules/entity_plus/ent

[2019-03-11 20:14] herbdool commented on #8
I think it's another module that might rely on entity_plus. I don't see the `BackdropDefaultEntityController` class in the text of this module (other than in comments, which is incorrect but won't throw an error). Any reference to that class should be just `DefaultEntityController`.

[2019-03-11 22:21] sbgraphicdesign commented on #8
Hmm, I uninstalled Entity Reference module because I was having issues with the autocomplete. And coincidentally those errors appear to have stopped, yet there's no reference to `BackdropDefaultEntityController` that I could find in the Entity Reference module.

I was also making changes to my node templates (adding `if (isset` to call the fields only if there's a value), so not sure if this perha

[2019-04-11 16:02] laryn commented on #2
I think Rules is all set with a new release that relies on Entity Plus, so closing this.

[2019-04-11 16:02] #2 closed, assigned to nobody

[2019-04-11 16:39] laryn opened #10 "Revisions related functions missing"
I am going to make Entity Plus a dependency in Paragraphs and found some revisions related functions from Entity API that were missing.

[2019-04-21 13:28] docwilmot commented on #10
Merged the PRs, without testing. Theyre additions, so cant hurt till someone tries to use them anyway.

[2019-04-21 13:28] #10 closed, assigned to nobody

[2019-04-21 13:29] #8 closed, assigned to nobody

[2019-05-16 19:13] laryn opened #12 "Warning: Class BackdropDefaultEntityController does not exist"
I'm seeing these warning notifications after updating a site to 1.13 (not sure if they were there before that):

[2019-06-18 01:53] kelizoliva opened #13 "Getting array warning when enabling"
Getting the following when enabling the module on a clean Backdrop installation, no other modules (besides civicrm) enabled:

`array_values() expects parameter 1 to be array, null given sessions.php:140`

[2019-06-18 01:56] kelizoliva commented on #13
Nope, this was an civicrm conflict. Sorry!

[2019-06-18 01:56] #13 closed, assigned to nobody

[2019-07-09 05:41] ghost opened #14 "Add 'property_type' for core Email field"
As per https://github.com/backdrop/backdrop-issues/issues/2933, I think the `property_type` key for the Email field should be removed from Backdrop core and added here instead (with the rest of the support for core fields).

[2019-12-12 05:19] laryn opened #15 "Error: Call to undefined function entity_load_single() in entity_plus_revision_is_default()"
---

PR by @laryn: https://github.com/backdrop-contrib/entity_plus/pull/16/files

[2019-12-12 19:12] laryn opened #17 "Warning: Theme hook "entity" not found."
I'm exploring whether to make Entity Plus a dependency for Paragraphs -- and this warning is [showing up in the logs](https://github.com/backdrop-contrib/paragraphs/issues/38#issuecomment-565088816), although I haven't determined where it is coming from (beyond that it is coming from the Entity Plus module):

---

PR by @laryn: https://github.com/backdrop-contrib/entity_plus/pull/18

[2019-12-12 19:45] laryn commented on #17
https://github.com/backdrop-contrib/entity_plus/blob/1.x/includes/entity_plus.controller.inc#L670

[2020-01-27 17:51] bradbulger opened #20 "Entity Plus and Entity UI define the same named constants"
The entity_plus module uses constants like ENTITY_OVERRIDDEN that are defined by the entity_ui module. Maybe the intention is to move that into core?

[2020-02-09 21:00] #15 closed, assigned to nobody

[2020-02-09 21:01] #17 closed, assigned to nobody

[2020-02-09 21:09] laryn commented on #12
This must have been fixed at some point prior as I don't see this in the code anymore, but cleaned up a few comments in https://github.com/backdrop-contrib/entity_plus/commit/d0a33d9e22eaff6e504442c25563bb04026fd342

[2020-02-09 21:09] #12 closed, assigned to nobody

[2020-02-09 21:13] laryn commented on #20
@bradbulger I haven't investigated too far yet but what's your recommendation here?

1. Add these constants to Entity Plus
2. Add a dependency on Entity UI
3. Move these constants to Backdrop core

[2020-02-09 21:14] laryn commented on #14
Sounds good to me if anyone has a chance to make a PR I will test and merge!

[2020-02-10 00:28] bradbulger commented on #20
They're originally from the entity module, which is core now, yes? Unless it's something left out on purpose for some reason. I haven't dug into what they mean in practice, that might matter.

[2020-02-18 23:07] and-e-h opened #21 "Update to Entity Plus 1.0.4 breaks Ubercart cart display."
The following error message is displayed at http://localhost/cart

"Argument 1 passed to backdrop_attributes() must be of the type array, null given, called in /webserver/backdrop/modules/entity_plus/theme/entity_plus.tpl.php on line 33"

Rolling back to Entity Plus 1.0.3 stops the issue and displays the cart properly.

System:
Debian 10.2
PHP 7.3.14-1~deb10u1
Backdrop 1.15
Ubercart 1.0.7-beta
Ent

[2020-02-19 16:04] laryn commented on #21
@and-e-h Can you try this and report back if it solves it for you?

https://github.com/backdrop-contrib/entity_plus/commit/39709a0a2bd0afe804e98ad5e22684d869c011c8

[2020-02-19 20:27] and-e-h commented on #21
Tested and working! :)

Many thanks laryn.

[2020-02-21 23:54] #21 closed, assigned to nobody

[2020-02-28 14:00] retrodans opened #23 "Errors during upgrade/migration from Drupal 7 ("Fatal error: Class 'EntityPlusControllerExportable' not found"...)"
Whilst migrating from Drupal I received the below error:
`Fatal error: Class 'EntityPlusControllerExportable' not found in /app/web/core/modules/entity/entity.module`

As entity_plus was not enabled, I enabled it via the mysql cli (status=1), just to see if that helped.

Sadly though, this then resulted in the below error:
`Call to undefined function entity_metadata_field_text_property_callback()`

[2020-03-07 13:02] laryn commented on #23
Are you able to `grep` your codebase and see where this is coming from? I don't see `EntityPlusControllerExportable` anywhere in the core codebase:
https://github.com/backdrop/backdrop/search?q=EntityPlusControllerExportable&unscoped_q=EntityPlusControllerExportable

Which modules have you got in there? Does the second error mention a filename and line number?

[2020-03-21 16:18] serundeputy opened #24 "Scheduling content for publication in future w/ paragraph fields fails."
When scheduling a node w/ a paragraphs field to be published in the future it fails:

[code]

The function `entity_revision_load` was provided by the `entity` module in D7. In Backdrop the function is in `entity_plus` and therefore is namespaced as `entity_plus_revision_load`.

[2020-03-21 16:22] serundeputy commented on #24
wrong queue. :whale:

[2020-03-21 16:22] #24 closed, assigned to nobody

[2020-03-27 17:32] docwilmot opened #25 "Replace cache with staticCache"
On Simpletests of a module dependent on EP I'm getting dozens of `EXCEPTION: Undefined property: EntityPlusController::$cache`. This because `https://github.com/backdrop/backdrop/pull/2927` was merged in, replacing the `cache` property with `staticCache`.

[2020-04-21 16:35] hosef commented on #25
I created a PR to fix this. #26

In addition to changing the variables to work with the latest version, I also added some code in the constructor to see if the old cache variable was defined by the parent class so that it will be compatible with older versions of Backdrop.

[2020-04-22 21:58] laryn commented on #25
Thanks @hosef! Are you interested in co-maintaining this module?

@docwilmot are you able to test the PR on the issue you were having?

[2020-04-23 16:52] hosef commented on #25
@laryn Sure, I would be fine with helping to maintain this module.

[2020-04-23 17:12] laryn commented on #25
@hosef - [Thanks](https://github.com/backdrop-contrib/entity_plus/commit/db92ecb97c37593bf7381d52de24d3f04ffa77fb)!

[2020-05-20 22:37] laryn commented on #25
I'm seeing a lot of these after running database updates on site upgrades which use Entity Plus:

@hosef I was going to merge the PR but the button is frozen in the position shown in this screenshot. Are you able to?
![Screen Shot 2020-05-20 at 5 36 40 PM](https://user-images.githubusercontent.com/871421/82504248-812f9900-9ac0-11ea-829e-38e2b437b46b.jpg)

[2020-05-20 23:42] hosef commented on #25
@laryn It is doing that for me also. I tried to close and reopen the PR, but that did not work.
I can try doing it from the command line if you would like me to do that.

[2020-05-22 19:16] laryn commented on #25
@hosef Sounds good, thanks!

[2020-05-22 19:18] laryn commented on #25
@hosef Do we need a version check on this to make sure core is `>= 1.16.0`?

[2020-06-04 20:08] hosef commented on #25
@laryn I merged the PR and tagged a new release.

[2020-06-04 20:08] #25 closed, assigned to nobody

[2020-06-04 20:22] laryn commented on #25
Thanks!

[2020-06-11 05:43] and-e-h opened #27 "Still getting entity_plus.controller.inc errors"
Hi I'm still getting entity_plus issues logged in Backdrop:

Notice: Undefined property: RulesEntityController::$cache in EntityPlusControllerExportable->load() (line 772 of .../backdrop/modules/entity_plus/includes/entity_plus.controller.inc).

The latest update fixed two error/warning messages I was getting after the Backdrop 1.16.x update, but this one's still around. Thanks for sorting those o

[2020-06-16 19:15] Egarbeil commented on #27
Also still getting this error:
Notice: Undefined property: RulesEntityController::$cache in EntityPlusControllerExportable->load() (line 772 of /modules/entity_plus/includes/entity_plus.controller.inc).

WebServer Apache
CentOS
Backdrop 1.16.1
Entity Plus
PHP 7.0.33
MySQL, MariaDB, or equivalent version 5.5.5-10.0.38-MariaDB

thank you,
Elisabeth

[2020-06-18 04:26] laryn commented on #23
FYI I ran into the second error in the Video Embed Field module:
https://github.com/backdrop-contrib/video_embed_field/issues/7

If you can track down where that is from, it should be `entity_plus_metadata_field_text_property_callback` once you've enabled Entity Plus. Filing an issue in whatever module uses that would be good, too.

[2020-06-18 04:29] laryn opened #28 "Call to a member function label() on null"
I upgraded a few modules on a dev site and started getting a maintenance screen with this error: `Call to a member function label() on null`.

I tracked it down to `entity_plus.theme.inc` where it's trying to set the `$entity` variable, but in at least one case that was apparently null. Does that make any sense to you @hosef? For the moment I'm just blocking the whole section in `template_preproce

[2020-06-19 05:23] and-e-h commented on #27
Hi all, I may have a fix...

Change line 772 from

to

that seems to work.

[2020-06-19 11:53] Egarbeil commented on #27
That works for me as well, but it’s line 772 in the updated version (1.0.6)

Thanks!  Can it be moved into the distribution so we don’t lose the fix?

Elisabeth Garbeil, MBA PMP
Brainwrap LLC
"Being on the web doesn't have to make your head hurt."
www.brainwrap.com
(810) 560-7181
egarbeil@brainwrap.com

[2020-06-19 18:26] laryn commented on #27
@and-e-h or @Egarbeil could you submit a PR?

[2020-06-19 20:26] Egarbeil commented on #27
@laryn , happy to, but how?  Also, testing, not sure how to do that too - worked on my site but,,,

[2020-06-20 20:35] laryn commented on #27
Here's one tutorial on a method of making PRs, by @klonos:
https://backdropcms.org/news/creating-pull-requests-against-core-easy-noob-way

[2020-06-27 19:48] earlyburg opened #29 "entity_plus_uri function not defined"
Line 13 of entity_plus/modules/callbacks.inc reads:

    $return = entity_plus_uri($entity_plus_type, $entity);

should read

    $return = entity_uri($entity_plus_type, $entity);

Found this while working on a port of SearchAPI for Backdrop, as it threw a method or function not found as it is not declared anywhere that I noticed. Thank you!

[2020-06-27 21:45] docwilmot commented on #29
Note there is already a Search port https://github.com/backdrop-contrib/search_api

[2020-06-30 13:08] laryn commented on #29
@earlyburg Thanks -- care to make a quick PR?

[2020-06-30 13:11] laryn commented on #28
This particular site seems to have an issue that I'll need to troubleshoot -- ~~I'm guessing this is related:
https://github.com/backdrop-contrib/paragraphs/issues/14~~ (Edit: not related)

That said, it's possible it's something particular with this site. Any ideas more than welcome however...

[2020-06-30 15:00] earlyburg commented on #29
@docwilmot Awesome! I will concentrate on porting search_api_solr which I need for a project. Thank you for letting me know.

[2020-06-30 15:02] earlyburg commented on #29
@laryn  Np. I will do this a bit later, thank you for the entity_plus module

[2020-07-16 03:16] laryn commented on #27
Just saw that  a PR was submitted -- thanks @and-e-h!

https://github.com/backdrop-contrib/entity_plus/pull/30

(In the future it's helpful to link it to the issue to help with visibility).

[2020-07-16 03:18] #27 closed, assigned to nobody

[2020-07-16 03:21] laryn commented on #29
@earlyburg I found your PR:
https://github.com/backdrop-contrib/entity_plus/pull/31/files

Thanks! (In the future if you link the PR to the issue it might get seen more quickly, just FYI)

[2020-07-16 03:23] #29 closed, assigned to nobody

[2020-07-21 16:44] laryn opened #32 "Entity Views"
@hosef It looks like somewhere along the way the `views` folder got chopped out. I was trying to do a quick-and-dirty "Coder Upgrade" on organic groups just as a test, but it looks like it needs what is in those files. Do you think we should merge those back in?

https://git.drupalcode.org/project/entity/-/tree/7.x-1.x/views

[2020-07-24 21:10] laryn commented on #28
[On this line](https://github.com/backdrop-contrib/entity_plus/blob/1.x/theme/entity_plus.theme.inc#L34):

[code]

[2020-08-10 16:07] robertgarrigos opened #33 "error when getting date field from wrapper"
I cannot get a date field from a metada wrapper. I got an error of property missing. I can get any other type of field data, but not a date field type

[code]
Found anyone else in this situation??

[2020-08-20 15:46] oadaeh commented on #20
I think for the interim, both Entity Plus and Entity UI should wrap those definitions with something like ```if (!defined(...)) { ... }```. When both are installed, one will win and one will lose, and if the named constants are identical, I do not think it matters which wins or loses.

[2020-08-20 16:42] laryn opened #35 "Images uploaded into WYSIWYG fields aren't marked permanent"
Moving https://github.com/backdrop-contrib/paragraphs/issues/65 over here after confirmation that this is an Entity Plus bug.

Images uploaded into WYSIWYG fields are not marked as permanent files and so they disappear when garbage collection runs.

Confirmed in Paragraphs and Registration, which depend on Entity Plus.

@oadaeh:

[2020-08-20 16:48] laryn commented on #35
Other places this issue has cropped up which may provide insight:

 - https://github.com/backdrop/backdrop-issues/issues/2979#issuecomment-366455143
 - https://github.com/backdrop-contrib/multifield/issues/29

[2020-08-22 01:37] laryn commented on #35
Linking some of what @oadaeh was mentioning here for future reference:

 - [ParagraphsItemController::save()](https://github.com/backdrop-contrib/paragraphs/blob/e45d74174c85f1cb63d2bff1e46fcd8f69fc64b2/ParagraphsItemController.inc#L15)
 - [EntityPlusController](https://github.com/backdrop-contrib/entity_plus/blob/1.x/includes/entity_plus.controller.inc#L146)
 - [EntityPlusControllerInterface::sav

[2020-08-22 20:43] oadaeh commented on #35
I think @hosef found the problem. EntityPlusController::invoke() is called in EntityPlusController::save(). In EntityPlusController::invoke() is this (at line 381 of the 1.0.7 release):
[code]
That means that no entity_$hook functions are being called at that time.

I tried changing that to:
[code]
and it saved the image correctly, marking it permanent.

Since I know that change will not fly, I al

[2020-08-23 20:04] laryn commented on #35
I put this into a quick PR. Does this look like what you'd both suggest for a fix to merge?
https://github.com/backdrop-contrib/entity_plus/pull/36

[2020-08-24 00:21] oadaeh commented on #35
Yes, that looks good to me.
Joseph's camping and won't be back until late Tuesday, so if you can wait until Wednesday for a response from him, I'll be sure to have him weigh in then.

[2020-08-24 12:30] laryn commented on #35
No rush -- I'll patch the site in question and make sure things are working well in the meantime.

[2020-08-26 03:23] laryn opened #37 "undefined function X_property_info_callback()"
I was enabling some geo-related modules and the site WSOD on me, with this in the logs:

`Error: Call to undefined function geofield_property_info_callback() in entity_plus_metadata_field_entity_property_info() (line 30 of /app/modules/entity_plus/modules/field.info.inc).`

This brought me also to [D7 Entity Issue 1312374](https://www.drupal.org/project/entity/issues/1312374) and [a patch by Alan

[2020-08-26 03:29] laryn commented on #37
@hosef Does this look okay to you?
https://github.com/backdrop-contrib/entity_plus/pull/38

[2020-08-28 15:14] hosef commented on #37
@laryn I took a look at the PR, and that looks like a reasonable fix for the issue. :+1:

[2020-08-28 15:18] laryn commented on #37
Thanks @hosef closing with https://github.com/backdrop-contrib/entity_plus/commit/99ccc95e3847024d80d641d098dc66494e3717ce

[2020-08-28 15:18] #37 closed, assigned to nobody

[2020-09-04 16:44] laryn commented on #35
@hosef Are you comfortable with this as a fix?

[2020-09-07 18:28] hosef commented on #35
@laryn Yes, that looks good to me.

[2020-09-08 13:56] #35 closed, assigned to nobody

[2020-09-12 11:52] indigoxela commented on #20
Any progress here?

We get **loads** of `Notice: Constant ENTITY_FIXED already defined in include_once() ` in our dblog since the latest update to 1.x-1.0.8.

Offending commit: https://github.com/backdrop-contrib/entity_plus/commit/757d631350de4d9fb97af1d0c00fc99e333f5a62

[2020-09-12 11:56] indigoxela commented on #20
Current workaround: if you have both modules installed, comment out the define lines in one of them.

[code]

[2020-09-14 09:53] indigoxela opened #39 "Latest stable release breaks Metatag functionality"
One of the side effects of release 1.x-1.0.8 is that it prevents Metatag from working.

I had to downgrade to entity_plus to 1.x-1.0.7 to get that working again. Could some of the maintainers please have a look?

@laryn or @hosef ?

[2020-09-14 09:56] indigoxela commented on #20
Update: just commenting out will likely not be enough for a workaround. I recommend downgrading to entity_plus 1.x-1.0.7.

[2020-09-14 11:58] laryn commented on #39
@indigoxela Can you please expand on how it prevents Metatag from working? I have a site running both (although I realize while investigating this that it's running Metatag 1.x-1.21.5).

[2020-09-14 12:18] indigoxela commented on #39
@laryn sure, sorry for the sparse report:

1. Install Metatag latest stable
2. Override front page meta title (admin/config/metadata/metatags/config/global%3Afrontpage)
3. Flush caches
4. Visit front page and check that the meta title works
5. Install entity_plus AND entity_ui latest stable
6. Visit front page - custom title gone
7. Visit admin/config/metadata/metatags/config/global%3Afrontpage
8.

[2020-09-14 12:21] laryn commented on #20
Here's a branch that takes @oadaeh's advice and does a check to see if they are already defined, and I found I also had to check if `entity_ui` was installed since Entity Plus was declaring them first and then Entity UI was throwing the notices:

 - https://github.com/backdrop-contrib/entity_plus/compare/issue-20?expand=1

[2020-09-14 12:23] indigoxela commented on #39
Another note: on the site I first saw the problems, rules is installed (requires both modules), so I couldn't easily disable the entity_plus module.

[2020-09-14 13:38] oadaeh commented on #39
Is this a duplicate of https://github.com/backdrop-contrib/entity_plus/issues/20 ?

[2020-09-14 13:54] laryn commented on #39
@oadaeh I think it may be.

@indigoxela Can you verify that [the branch here](https://github.com/backdrop-contrib/entity_plus/compare/issue-20?expand=1) or commenting out the constants and then clearing the caches solves the problem above? I installed Metatag on a dev site that is running the Entity Plus branch above, along with Entity UI, and the front page meta title is working.

[2020-09-14 14:01] indigoxela commented on #39
Yep, it's a duplicate. This is what I tried:

1. Uninstall entity_plus
2. Get the branch, replace module code, enable
3. Visit front page and metatag admin form - both OK
4. Flush caches several times and repeated previous step - still OK

Works! :+1:

[2020-09-14 14:01] #39 closed, assigned to nobody

[2020-09-14 14:03] indigoxela commented on #20
As reported in the other issue, branch https://github.com/backdrop-contrib/entity_plus/tree/issue-20 fixes the problem.

[2020-09-14 14:11] indigoxela commented on #20
For completeness I did a quick check if Rules is still working with the bugfix branch - it does.

[2020-09-14 17:54] laryn commented on #20
Merging based on the review from @indigoxela.

[2020-09-14 17:54] #20 closed, assigned to nobody

[2020-11-12 12:04] #32 closed, assigned to nobody

[2020-12-01 14:48] herbdool opened #42 "Undefined property: UcCartItemController::$cache"
Getting this type error for a number of different controllers while testing Ubercart:

I believe that it might need to be changed in entity_plus to `$this->entityCache` which is defined in `DefaultEntityController`.

[2020-12-01 15:01] herbdool commented on #42
Oops just realized that my local copy was not up to date. Looks like there was already a fix to change it to `$this->staticCache` (instead of `$this->entityCache`. Which one is right? Not sure.

[2020-12-01 15:13] laryn commented on #42
Question for @hosef ☝️

[2020-12-01 15:15] laryn commented on #42
Oh, looks like he's the one that provided the PR:
https://github.com/backdrop-contrib/entity_plus/issues/25

[2020-12-11 19:11] herbdool commented on #42
I think this is good enough.

[2020-12-11 19:11] #42 closed, assigned to nobody

[2020-12-11 19:12] herbdool opened #43 "Undefined function: entity_property_extract_innermost_type() in views handler"
This https://github.com/backdrop-contrib/entity_plus/blob/b4578f6b22c151f83946da822b262fe3d0c87704/views/handlers/entity_plus_views_handler_field_entity.inc#L45

Should be changed to `$this->field_entity_type = entity_plus_property_extract_innermost_type($this->definition['type']);`

[2020-12-14 20:14] #43 closed, assigned to nobody

[2020-12-14 20:14] laryn commented on #43
Thanks @herbdool !

[2021-01-12 19:29] laryn opened #44 "Should entity_plus_type just be entity_type?"
This looks like potentially the result of an overeager search and replace at some point... @hosef can you verify the PR that's coming shortly? I think there are a bunch of references to `entity_plus_type` that should just be `entity_type`...

[2021-02-16 13:35] ghost opened #46 "Call to undefined function entity_view() ...line 78... /entity_plus/views/plugins/entity_plus_views_plugin_row_entity_view.inc"
I am using Entity Plus 1.x-1.0.10 with Search API & Search API Views 1.x-1.0.03. When I configure a new Search Index and create a View of that index type, I receive the fatal error referenced in the title. It is a node search, not custom entities or any other custom code at this point.

Changing that line (78) in /entity_plus/views/plugins/entity_plus_views_plugin_row_entity_view.inc to entity_plu

[2021-03-08 13:18] laryn commented on #46
Thank you @erictoupin (and @blimking on the Backdrop forum who noted the same issue) -- I found a few other instances where `entity_view` should be `entity_plus_view` and changed them all at once. Please test the latest release (1.x-1.0.11) and let me know if you find any further issues!

[2021-03-09 13:00] #46 closed, assigned to nobody

[2021-03-09 13:00] laryn commented on #46
Looks like I missed the comment about line 94 and `entity_id()`. I found another instance of that as well.

[2021-04-05 17:24] bobchristenson commented on #23
Yup, ran into this with rules just now:
`Fatal error: Class 'EntityPlusControllerExportable' not found in /backdrop/modules/rules/includes/rules.core.inc on line 56`

[2021-04-05 17:35] laryn commented on #23
@bobchristenson At this point Entity Plus was not installed, correct? I think this is due to a peculiarity of upgrading modules which include in Backdrop a dependency on Entity Plus (which doesn't formally exist in Drupal 7). Others have proposed simple "stub" modules for Drupal 7 which can be enabled prior to the upgrade to make this end more seamless (so that Entity Plus is pre-enabled), such as

[2021-04-05 17:56] laryn commented on #23
I added further details about upgrading to the Wiki for now.

https://github.com/backdrop-contrib/entity_plus/wiki#migrating-from-drupal-7s-entity-api-module

[2021-04-05 17:56] #23 closed, assigned to nobody

[2021-04-05 18:01] laryn opened #47 "Upgrade process: can we enable Entity Plus if it's not already?"
See https://github.com/backdrop-contrib/entity_plus/wiki#migrating-from-drupal-7s-entity-api-module

Is it worth it (at least on some of the more major modules that rely on Entity Plus) to try to enable it by default during upgrade? (e.g. if the module is there, use `module_enable('entity_plus');` or something like that). Those individual modules would need to implement this but I'm posting here f

[2021-04-07 15:52] laryn commented on #47
Here's a proof of concept that seems to work. (Testing welcome). Background: Manual Crop introduces two dependencies on modules that wrap other libraries (to remove the libraries dependency and allow installation via the UI). Those modules don't exist for D7.

 - https://github.com/backdrop-contrib/manualcrop/commit/65cb9b34dd15cdc245a6a3222c44b4dbc37b80ae

If this seems reasonable, we can suggest

[2021-04-08 21:14] laryn opened #48 "PHP Fatal error: Class name must be a valid object or a string"
I was troubleshooting something else and came across this issue in the Drupal queue.
https://www.drupal.org/project/entity/issues/1667536

The fix didn't solve my issue unfortunately but I'll PR it here anyway...

[2021-04-30 03:20] argiepiano opened #49 "theme_entity_plus_property is not defined"
The function `theme_entity_plus_property` doesn't seem to be defined anywhere, despite the direction to `@see theme_entity_plus_property()` in line 13 of `entity_plus.theme.inc`.

This is function should be the equivalent of Drupal 7's `theme_entity_property`, which is defined in the file `entity.theme.inc`. Is there a reason why it's not included in Backdrop's version of Entity API?

[2021-04-30 22:09] laryn commented on #49
Oversight perhaps as pieces were pulled out (some of Entity API went in core and this module tried to gather what remained) -- care to make a PR?

[2021-05-02 04:36] argiepiano commented on #49
OK, will do soon.

In fact, the function `template_process_entity_plus_property()` in `entity_plus.theme.inc` needs to be completely removed, as the whole theme process layer was [removed from Backdrop](https://docs.backdropcms.org/change-records/removed-theme-process-layer).

I'm thinking there are two possible paths:

(1) we could incorporate the function `theme_entity_plus_property` and its pre

[2021-05-02 23:01] argiepiano commented on #49
Pull request done in  #50

[2021-05-31 04:21] argiepiano opened #51 "consecutive invocations of entity_load_multiple in the same page request produce empty array"
Function `entity_load_multiple()` can be used to load all entities of a custom entity type. For example if the custom entity type is called "event", then the syntax to get all event entities is  `entity_load_multiple('event')`.  The function returns an array of entity objects. This works as expected when you invoke `entity_load_multiple('event')` once.

The issue:
But if you invoke `entity_load_mu

[2021-05-31 13:46] argiepiano commented on #51
I wanted to clarify that, while the function `entity_load_multiple` is defined in core, the custom entities I'm referring to, use the method `load` in the controller class `EntityPlusController` defined by this module. That's why I created the issue here and not in Backdrop core.

[2021-06-05 15:41] argiepiano commented on #14
It looks like property_type for field type Email was removed from core but never added to `entity_plus_property.inc`? I'll create a PR soon.

[2021-06-05 16:28] argiepiano commented on #14
Created PR #52

[2021-06-08 11:43] robertgarrigos opened #53 "cannot update due to missing version"
Trying to update entity plus to the latest version, I got a message from paragraph that in needs entity plus version > 1.0.5, even I'm installing entity plus 1.0.12. The list of modules doesn't show entity plus version, as if it couldn't find it.

[2021-06-08 11:48] robertgarrigos commented on #53
![Modules___ICEC_-_International_Commission_of_European_Citizens](https://user-images.githubusercontent.com/105581/121179555-2ea65380-c860-11eb-9159-616fbf8a3c51.jpg)

[2021-06-08 15:59] laryn commented on #53
@robertgarrigos Did you at one point download a dev version from Github directly (not through the releases or project installer)?

[2021-06-08 16:05] robertgarrigos commented on #53
Not aware of. I downloaded from GitHub the latest release, not dev. I update all my backdrop sites in the same way. It's easier. Just download any needed module and upload to server with rsync. I just realize that other modules updated this way have the same problem of missing version...

[2021-06-08 16:08] robertgarrigos commented on #53
I see that version numbers are missing in the database if not installed with the project manager. Isn't that weird???

[2021-06-08 16:15] laryn commented on #53
The version number should be there if you get the packaged version:

![Screen Shot 2021-06-08 at 11 13 36 AM](https://user-images.githubusercontent.com/871421/121220972-baad8080-c84a-11eb-908e-dd0a182c831b.jpg)

The two underneath probably don't include the version number though.

[2021-06-08 16:15] robertgarrigos commented on #53
arghhhh... didn't know that... thanks.

[2021-06-08 16:15] #53 closed, assigned to nobody

[2021-06-08 16:40] laryn commented on #51
Thanks for the report @argiepiano -- since this relates to caching I'm hoping @hosef will have a chance to look at it since he's the caching expert around here...

[2021-06-27 04:58] argiepiano opened #54 "entity_plus_type_is_fieldable() is not defined"
The method `invoke` of class `EntityPlusController` in file `entity_plus.controller.inc` (line 378) calls the function `entity_plus_type_is_fieldable()`. This function is undefined. This seems to be an oversight when the module was ported from Drupal 7. The Drupal 7 version of entity_plus includes the corresponding function called `entity_type_is_fieldable`, which is defined in file `entity.module

[2021-06-27 20:31] argiepiano opened #55 "Function entity_load_single() is undefined"
The method `render_entity_link` in class  `entity_plus_views_handler_field_entity` defined in file `entity_plus_views_handler_field_entity.inc` invokes the undefined function  `entity_load_single()` in line 162 and 183.

As explained in the Backdrop documentation for the function `entity_load`, the old Drupal's Entity API function `entity_load_single` has been replaced in Backdrop by `entity_load`

[2021-07-18 11:28] jayelless commented on #55
The same problem exists in class entity_plus_views_handler_area_entity.

[2021-07-18 14:42] argiepiano commented on #55
PR #56 has been created. Hoping this will be merged soon...

[2021-07-19 04:05] argiepiano opened #57 "Error: Call to undefined function views_ui_build_form_url() in entity_plus_views_handler_area_entity.inc"
This error is thrown when trying to add a Rendered Entity to the header or footer of a View:

`Error: Call to undefined function views_ui_build_form_url() in entity_plus_views_handler_area_entity->options_form() (line 34 of...`

`views_ui_build_form_url()` existed in Drupal 7, but it was renamed to `views_ui_build_form_path()` in Backdrop.

**How to reproduce the error:**
0. Be sure entity_plus is

[2021-07-19 04:14] argiepiano commented on #57
Created PR #58

[2021-07-23 11:13] jayelless opened #59 "Mis-spelled file name in hook_autoload_info: "boolian" instead of "boolean""
The filename for class "entity_plus_views_handler_field_boolean" is mis-spelled in hook_autoload_info().

[2021-07-23 11:16] jayelless opened #60 "Multiple specification for class EntityPlusControllerInterface in hook_autoload_info()"
The file entry for class EntityPlusControllerInterface is specified three time in hook_autoload_info().  Two of these can be removed.

[2021-07-23 23:53] jayelless commented on #59
Submitted PR #61

[2021-07-23 23:55] jayelless commented on #60
Submitted PR #62.

[2021-07-26 20:16] #60 closed, assigned to nobody

[2021-07-26 20:17] laryn commented on #60
Thank you -- merged.

[2021-07-26 20:19] #59 closed, assigned to nobody

[2021-07-26 20:23] laryn commented on #59
Thank you @jayelless !

[2021-07-27 20:13] #55 closed, assigned to nobody

[2021-07-27 20:14] laryn commented on #55
Thanks @argiepiano and @jayelless -- much appreciated.

[2021-07-27 20:22] laryn commented on #57
Good catch @argiepiano -- here's the commit that made the core change (although we may have missed creating a change record or deprecated function for this, which could be a separate issue in core):

 - https://github.com/backdrop/backdrop/commit/b65674193ba54ff1cc7714793f2673b9fed1b47f

[2021-07-27 20:23] #57 closed, assigned to nobody

[2021-07-27 20:29] laryn commented on #14
Thanks again @argiepiano !

[2021-07-27 20:32] #48 closed, assigned to nobody

[2021-07-27 20:33] #14 closed, assigned to nobody

[2021-08-03 21:10] #49 closed, assigned to nobody

[2021-08-03 21:11] laryn commented on #49
Thank you @argiepiano

[2021-08-18 08:49] mazzech opened #63 "Upgrade makes site crash"
Hello, I am still using the 1.x-1.0.9 version, because upgrade makes all sites crash, I really tried to gather more information, but I do not see any pattern (e.g. other modules used, settings etc.)
![Screenshot 2021-08-15 at 18 40 29](https://user-images.githubusercontent.com/5985692/129868031-ee1a468d-f6aa-4668-95e7-a87e4ae2dac6.png)
![Screenshot 2021-08-15 at 18 56 46](https://user-images.githu

[2021-08-18 16:26] laryn commented on #63
@mazzech Thanks for the report -- is `1.0.10` the version that causes the crash, or the most recent version (`1.0.13`)?

[2021-08-18 16:30] laryn commented on #63
@earlyburg Could this relate to your work in https://github.com/backdrop-contrib/entity_plus/pull/41?

[2021-08-19 07:37] earlyburg commented on #63
Without a deep-dive I would only be speculating. Drupal 7 was a mess. Backdrop core attempted to fix this by removing all parts of "entity" that seemed over-complicated or redundant. Unfortunately it would seem that many contributed modules still used this removed functionality so that had to get dealt with. The choice was to fix entity in core (and we all know that backdrop core is the holy grail

[2021-08-19 08:27] mazzech commented on #63
Hi, thank you @earlyburg and @laryn for checking and contributing... I have just checked, the problem even appears after updating to 1.0.10. Unfortunately, I have no idea what the module is good for, just installed it because it was required by another module sometime in the past. So it seems that the Views/EntityPlus compatibility is affected....?

[2021-08-19 08:40] earlyburg commented on #63
@mazzech - can you describe the issue in more detail? When this issue happen? Were you running update.php or enabling a new module?
ty

[2021-08-19 08:43] mazzech commented on #63
I replaced the 1.0.9 version by 1.0.10, and it happens when running update.php. When I re-replace the module, running update.php is possible again.

[2021-08-19 08:45] mazzech commented on #63
I read something about exportables... a lot of my Views have been imported via config management, because they are quite similar across the sites I build.

[2021-08-19 08:50] earlyburg commented on #63
When you are referring to the "version", do you mean entity plus version upgrade or core version upgrade? thanks

[2021-08-19 08:52] mazzech commented on #63
entity plus, core is on latest version. The problem appeared months ago, but back then I did not have the time to do further testing.

[2021-08-19 08:59] earlyburg commented on #63
I will test the issue based on the provided stacktrace, but it will take additional time. More on this soon.

[2021-08-19 11:20] laryn commented on #63
@earlyburg I hope it didn't come across as blame! I was thinking more, "@earlyburg is more of the expert on this, perhaps I should run this past him."

[2021-08-20 16:58] earlyburg commented on #63
No worries dude - My full time gig is (wait for it) Drupal developer lol and I'm slammed with work right now.
I will be looking at this issue tomorrow morning early prob.

[2021-08-24 16:51] laryn opened #64 "Entity Cache is in core"
The module should be checked over for `entitycache` references since Entity Cache is now in core and doesn't require a separate module.

 - https://docs.backdropcms.org/change-records/entity-caching-added-to-core

@hosef on Zulip:

[2021-08-24 20:10] #64 closed, assigned to nobody

[2021-08-24 20:10] laryn commented on #64
@hosef If memory serves you did all the other relevant cache-related updates in https://github.com/backdrop-contrib/entity_plus/issues/25 so I've just removed the check for the `entitycache` module in the one spot I found it here.

[2021-09-12 00:47] jenlampton commented on #28
I'm having the same problem after installing paragraphs, and attempting to override `paragraphs-item.tpl.php`, so I don't think it's specific to your site @laryn.

I also noticed that for every paragraphs item, the paragraphs_item template is being applied twice. One time it only contains the class `entity_plus` (when it is stashed into the `#children` key of the renderable, with `#printed` is set

[2021-09-12 23:06] jenlampton commented on #28
The ParagraphsItem `view()` method calls `entity_get_controller($this->entityType())->view` which in this case, is `EntityPlusController()`. The `view()` method there contains this code comment:
[code]
I think maybe this is the problem. Not only has this documentation not been updated (I'm sure that was supposed to say `template_preprocess_entity_plus()` instead) but if it's attempting to add a th

[2021-09-12 23:23] jenlampton commented on #28
Well, progress? If I change the theme hook here, the page seems to render correctly (with my template only applied once). But I don't know how to check the theme registry to see if a specific function is provided, so I ended up with this mess:

[code]
...as well as some PHP errors. I'm going to sort through the errors and see if it sheds any other light.

[2021-09-13 00:23] jenlampton commented on #28
The PHP errors were helpful :) I think I found a fix for https://github.com/backdrop-contrib/paragraphs/issues/91.

I suspect this issue may be specific to all sites with Paragraphs. Since implementing the fix above I haven't encountered this problem anymore. If someone else can confirm, maybe we can close this?

[2021-09-13 14:07] laryn commented on #28
Thank you @jenlampton -- the preliminary testing in the Paragraphs thread you linked looks promising enough that I'll close this one here. Thanks so much!

[2021-10-13 16:47] laryn commented on #28
Reopening as the fix in the Paragraphs queue breaks some preprocessing functionality.

@hosef do you have any insight on how this might relate in Entity Plus's implementation where Paragraphs items are getting rendered twice? From @jenlampton in the Paragraphs thread:

[2021-10-30 12:59] laryn opened #65 "Adjust due to `file_entity` being in core"
There are a few places where `entity_plus_access` is referenced but this function doesn't exist and should simply be `entity_access`. These were likely porting search-and-replace errors.

[2021-10-30 13:10] laryn commented on #65
Well it's early on a Saturday...

https://github.com/backdrop-contrib/entity_plus/blob/1.x/entity_plus.module#L378-L410

Changing the scope to more pointedly address the bit of code that prompted this.

[2021-10-31 04:33] laryn commented on #65
[code]
https://github.com/backdrop-contrib/entity_plus/blob/1.x/entity_plus.module#L270-L273

[2021-10-31 19:05] argiepiano commented on #33
It seems like entity plus does not provide the full metadata property definitions for date field types. And it looks like that is provided in the module Entity Token. If you enable that module, your metadata wrapper should be able to find date fields.

My guess: This integration with Entity Metadata used to exist in the Date contrib module in Drupal. Backdrop integrated Date into core, but did not

[2021-10-31 20:37] laryn commented on #33
@argiepiano Makes sense to me. It looks like Entity Token is seeking maintainers -- by any chance are you interested in picking that up? :innocent:

[2021-11-01 01:00] argiepiano commented on #33
@laryn I could give maintaining Entity Tokens a try. What's the process to make that happen?

Regarding this issue, what would be the best (least harmful) way to move the code needed for date metadata wrappers from Entity Tokens to Entity Plus?  I could do pull requests in both, but we would need to release new versions for the two modules at the same time and hope that people update both together

[2021-11-01 12:20] laryn commented on #33
@argiepiano Regarding the process, see "Adopting Abandoned Projects" here: https://docs.backdropcms.org/documentation/adopt-a-project

In this case it looks like @docwilmot created the project initially so when you create the issue in the queue asking to be added as a maintainer I think you can tag him and ask him to merge the PR that you create over there which adds your name as maintainer.

For

[2021-11-02 02:55] laryn opened #67 "Bring back i18n_string integration"
I'm working to clean up Rules and the i18n_rules submodule extends `EntityDefaultI18nStringController` -- this doesn't exist in Backdrop. Maybe we should add `entity.i18n.inc` into Entity Plus from the Entity module for D7?

[2021-11-02 15:30] laryn commented on #54
Sounds good. Are you able to provide a PR?

[2021-11-03 19:16] laryn opened #68 "User roles aren't integers"
I'm debugging some tests in the Rules module and came across an error where it was trying to enforce the role as an integer. This must be a carry-over from role IDs in Drupal 7 but since we don't have numeric role IDs anymore this should not be enforced as an integer.

[2021-11-03 19:18] #68 closed, assigned to nobody

[2021-11-05 04:12] laryn commented on #63
@mazzech Given this fix in a separate module that shows up in the error log you posted above:

 - https://github.com/backdrop-contrib/registration/issues/28

And the fact that `entity_plus_views_field_definition` is in the code, does the upgrade work now? Did you do a hard cache clear on the server after upgrading as well?

[2021-11-05 04:14] #54 closed, assigned to nobody

[2021-11-05 04:15] argiepiano commented on #54
@laryn , I've created a PR to add this missing function.

However, I think this addition may actually not matter. In my experience, "entityType'" entities (that is, configuration entities that define bundles, and therefore contain the key 'bundle of' in their `hook_entity_info` definitions) use `EntityPlusControllerExportable` as their controller class, rather than `EntityPlusController`. Therefor

[2021-11-05 04:16] laryn commented on #54
I merged it -- if the function call is there in the code I'd like to have the function exist. If we ever chop out all calls to that function we can consider chopping that little function out too.

[2021-11-06 00:03] argiepiano opened #70 "Best place to document additional hook_entity_info keys and functions introduced by entity_plus"
The Drupal 7 contrib module `entity`, which is the module on which `entity_plus` is based, introduced all `hook_entity_info` keys in the file `entity.api.php`. While many of these keys now have made it into core in Backdrop, there are a few that remained only in `entity_plus` that are not documented anywhere.

What might be the best place to document? Options: 1) creating a `entity_plus.api.php`,

[2021-11-08 16:09] laryn commented on #70
@argiepiano I think having an `entity_plus.api.php` would be great -- possibly with more detailed info in the Wiki if appropriate. I am not aware of an example module similar to what you describe but I agree it would be helpful! Are you able to take these on?

[2021-11-08 16:10] laryn opened #71 "Taxonomy info still mentions `vid`"
https://github.com/backdrop-contrib/entity_plus/blob/1.x/modules/taxonomy.info.inc

The vocabulary info is still referencing a (non-existent in Backdrop) `vid` for vocabularies.

[2021-11-08 16:11] laryn commented on #71
https://github.com/backdrop-contrib/entity_plus/search?q=vid

[2021-11-08 17:13] argiepiano commented on #70
@laryn yes, I can create that file in the next few days.

In the meantime this weekend I put together an example module [Basic Entity Plus Example](https://github.com/backdrop-contrib/basic_entity_plus_example) that shows how to create a custom entity with Entity Plus and Entity UI. I tried documenting most of it.

[2021-11-08 17:30] herbdool opened #72 "With Backdrop >= 7.15 we can use entity_plus_language() ???"
In https://github.com/backdrop-contrib/entity_plus/blob/b8c7dc479e43152fd708f9208fe5e75dc855d055/modules/callbacks.inc#L554

[code]

There doesn't seem to be an `entity_plus_language()` function so this comment is cryptic. Since it doesn't seem to be in this module nor in core, I'm looking for an alternative.

[2021-11-08 17:34] laryn commented on #72
Here's the D7 issue:

 - https://www.drupal.org/project/entity/issues/1376126

_(Looks like a search and replace error in that comment regarding Backdrop >= 7.15)_

[2021-11-08 17:36] laryn commented on #72
https://github.com/backdrop/backdrop/pull/1955#discussion_r136875107

[2021-11-08 17:36] laryn commented on #72
@herbdool
Care to add a PR to put `entity_plus_language` into this module?

[2021-11-08 17:41] herbdool commented on #72
In the meanwhile, I think this is equivalent for most use cases: `$langcode = !empty($entity->langcode) ? $entity->langcode : LANGUAGE_NONE;` so not a big deal. But would be good to fix that section - it looks like it was a search/replace from Drupal > Backdrop.

[2021-11-08 17:42] herbdool commented on #72
@laryn we were thinking the same thing.

[2021-11-08 18:14] laryn opened #73 "Tests"
We should set up tests on PRs with GHA and:

 - make sure that the tests are passing in general
 - Add a date related test (see https://github.com/backdrop-contrib/entity_plus/issues/77)

[2021-11-08 18:23] laryn commented on #73
I have basic GHA for tests and coding standards set up (thanks again @indigoxela) and I've started a PR for this particular issue to get tests passing.

[2021-11-09 20:16] laryn commented on #70
Noting here that I've linked the example module in the README and also cut a lengthy section from the README and moved it into the Wiki.

[2021-11-14 17:02] argiepiano commented on #72
I've created a PR that adds `entity_plus_language()`, removed the search/replace "7.15" comment and documented two new keys for `hook_entity_info` in `entity_plus.api.php`. The new keys are `language` and 'language callback'. I've done some testing and it works fine. Please take a look and let me know if you are OK merging.

[2021-11-17 04:57] argiepiano opened #77 "Move date wrapper code from entity_token to entity_plus"
This refers to issue backdrop-contrib/entity_token#7.  When Drupal's Entity API was ported to Backdrop, it was split into several modules. The code necessary for entity_metadata_wrapper to be able to get or set the content of date fields ended up in Entity Token for some unknown reason. This forces users to install Entity Token for the sole purpose of enabling metadata access to date fields.

@lar

[2021-11-17 05:43] argiepiano commented on #33
@laryn I've created PRs in both modules. HOWEVER I'm noticing that, upon testing, the idea of requiring Entity Token to use a newer version of  Entity Plus by adding the following to `entity_token.info`:

`dependencies[] = entity_plus (>1.x-1.0.13)`

as described [here](https://docs.backdropcms.org/creating-modules) is actually not working. I'm still able to enable the entity_token module despite

[2021-11-17 12:40] laryn commented on #33
@argiepiano I just checked and here's how I've done it elsewhere: `dependencies[] = entity_plus (>=1.0.5)`

[2021-11-23 04:41] oadaeh opened #79 "Missing entity_revision_is_default function"
The D7 Entity API module provided a function called entity_revision_is_default that is not either in Backdrop core, Entity UI, or this module: https://git.drupalcode.org/project/entity/-/blob/7.x-1.x/entity.module#L434

The Field Collection module uses that function in a couple of places. I can just add it to that module for its own use, or I can create a PR to add it to this module. Which would y

[2021-11-23 04:52] argiepiano commented on #79
@oadaeh , thanks for reporting. Like all functions of Entity Plus when it was ported from Drupal 7 Entity API (a contrib module), the namespace was changed to `entity_plus`.

The correct function name in Entity Plus is `entity_plus_revision_is_default()`. You'll need to invoke that function, which is pretty identical to the original D7 one. No PR needed.

Please let me know  if I'm not understandi

[2021-11-23 04:55] #79 closed, assigned to nobody

[2021-11-23 14:55] oadaeh commented on #79
Ah, I didn't even think to look for that name, though I did see it elsewhere, which is why I thought it wasn't included: https://github.com/backdrop-contrib/entity_plus/blob/4acf2f69ee87704fc836df04d73ba811d15160a5/entity_plus.module#L656
Thanks for the feedback.

[2021-11-27 05:20] argiepiano opened #80 "Add wrapper support for link fields"
Currently Entity Plus doesn't provide metadata wrapper support for link fields. Will add a PR.

[2021-11-27 05:31] argiepiano commented on #80
Added PR #81

[2021-11-27 17:51] argiepiano opened #82 "entity_plus_metadata_table_query() et al should use 'entity_type' in EFQ's entityCondition"
Both `entity_plus_metadata_table_query()` and `entity_plus_metadata_field_query()` use `EntityFieldQuery` to query the entity. They invoke the EFQ method `entityCondition()` to do that. The correct syntax for the first parameter of that method is `entity_type` rather than `entity_plus_type`.

This is obviously a find/replace error.

Incidentally, this is why one of the tests performed by Entity Pl

[2021-11-27 19:50] argiepiano opened #84 "metadata wrapper should return machine names for user roles"
Unlike Drupal, Backdrop uses machine names to identify roles (Drupal used numeric role IDs).

Therefore `entity_plus_metadata_user_get_properties`  should return the values of the role array, not the keys. I've created a PR and tested it, and it works. Will provide it in a minute.

BTW this is one of the reasons why two of the tests are failing  - see #74

[2021-11-27 22:21] argiepiano opened #86 "Clean up variable_get"
`callback.inc` contains 6 instances of variable_get that need to be replaced with the appropriate config get. I'll provide a PR soon.

[2021-11-27 22:27] argiepiano commented on #72
PR merged

[2021-11-27 22:27] #72 closed, assigned to nobody

[2021-11-28 03:47] argiepiano opened #88 "Further work on test failures"
Creating this issue to link to a new PR that fixes most of the functional test failures.

[2021-11-28 03:53] argiepiano commented on #88
PR #89 provided.

IMPORTANT: in order for these fixed tests to work, it's important to merge PRs #85 and #83

[2021-11-28 18:14] argiepiano commented on #68
I found the same issue myself and was able to fix it. The problem was in function `entity_plus_metadata_user_get_properties`, which should return the machine names of the roles rather than integers. See #84 and the PR #85

[2021-11-28 18:15] argiepiano opened #90 "Fix `entity_plus_language` and allow language test to pass"
The entity_plus language tests fail. I've figured out what's wrong and will submit a PR soon. This is related to #74

[2021-11-28 18:38] argiepiano commented on #73
@laryn I have been hard at work these last couple of days fixing several issues that finally allowed the existing tests to pass (NB: I haven't yet tackled the date related test you mentioned above). There are several PRs related to tests.

This is the list of PRs that need to be merged in order to fix the failing tests:

- #74
- #83
- #85
- #89
- #91

[2021-12-01 05:03] argiepiano opened #92 "The `roles` user property should be of type `list<token>`, not `list<text>`"
The `roles` property info provided in `user.info.inc` should define roles as  type `list<token>`. Entity Plus uses the type `token` to mean "machine name". Using this type will assure that the property setter fails if it receives something other than a machine name. Currently the setter accepts any text, including hyphens and uppercase when setting roles.

PR coming

[2021-12-02 03:37] #73 closed, assigned to nobody

[2021-12-02 03:38] #82 closed, assigned to argiepiano

[2021-12-02 03:39] #84 closed, assigned to nobody

[2021-12-02 03:42] #88 closed, assigned to nobody

[2021-12-02 03:43] #90 closed, assigned to nobody

[2021-12-02 03:46] #86 closed, assigned to argiepiano

[2021-12-02 03:53] laryn commented on #92
Good catch.

[2021-12-02 03:54] #92 closed, assigned to argiepiano

[2021-12-02 04:59] Wylbur commented on #33
I enabled entity_tokens, and try to set url date tokens, but I am getting this error:
`Error: Call to undefined function entity_metadata_field_verbatim_get() in EntityStructureWrapper->getPropertyValue() (line 440 of /var/www/docroot/modules/entity_plus/includes/entity_plus.wrapper.inc).

Call to undefined function entity_metadata_field_verbatim_get()`

Is this because of the module version mismat

[2021-12-02 05:04] argiepiano commented on #33
@Wylbur , the current version of Entity Tokens is messy and has many issues, as it was ported a long time and did not get much review or maintenance.  I started maintaining this about a week ago. I'm doing a complete rewrite that includes moving code for date handling to Entity Plus, and avoiding several collisions with core tokens.

I apologize for the  inconvenience. I should be able to release

[2021-12-02 05:05] argiepiano commented on #33
@Wylbur , also, can you clarify what you mean by "set url date tokens"?

[2021-12-02 05:11] argiepiano commented on #33
@Wylbur BTW if you want a quick fix for that change `entity_metadata_field_verbatim_get()` for `entity_plus_metadata_field_verbatim_get()`

[2021-12-04 01:42] argiepiano opened #94 "Use langcode instead of language in automated test"
A small stubborn typo in the test file was preventing the fixed tests to run successfully.  PR coming in a minute.

[2021-12-04 01:47] argiepiano commented on #94
PR: #95

@laryn thank you for merging all the other PRs related to tests. This one should fix the functional tests completely (at least on my local!).

If you are OK with this I'll go ahead and merge this one, plus two others that add date and link field wrappers.

It may be time to do a new release? I am almost done rewriting entity_tokens, but it needs to be released at the same time as entity_p

[2021-12-04 02:11] laryn commented on #94
Sounds good! Thanks for all your work here.

 Do you use paragraphs by any chance? There was one other issue I was hoping to solve before a release and I’m stumped. I’m not sure if the problem is entity plus or paragraphs. If you have a chance for a glance it would be amazing — but I understand completely if not!

[2021-12-04 02:11] laryn commented on #94
https://github.com/backdrop-contrib/entity_plus/issues/28

[2021-12-04 02:15] argiepiano commented on #94
I don't use Paragraphs, but I'll take a look later tonight!

[2021-12-04 04:53] laryn commented on #28
@jenlampton mentioned the view method above. @herbdool  just mentioned that separately. Could this relate? I haven’t had time to dig but wanted to make the connection in a comment just in case:

https://github.com/backdrop-contrib/paragraphs/issues/106#issue-1070856192

[2021-12-04 04:56] argiepiano commented on #28
@laryn I'm looking into this issue, but I'm not clear how to reproduce the error. I installed paragraphs and it's working fine so far. Can you give me a clue on how to reproduce it?

[2021-12-04 05:01] laryn commented on #28
Add a template override for paragraphs-item.tpl.php in your theme, even if just copying the one from the paragraphs module.

[2021-12-04 05:32] herbdool commented on #28
@laryn maybe try `buildContent` method instead of `view`? Entity Plus would not add its own theme suggestions I think. Just spitballing.

[2021-12-04 06:05] argiepiano commented on #28
I think you are aware of this, but looking at the themed output, it looks like there is some theme nesting going on. Compare to D7's output below.

Currently Drupal 7 Paragraphs does not have a template_preprocess_paragraphs_item function, while Backdrop does. In Drupal template_preprocess_entity is called once per paragraph instance. Backdrop calls it twice, and calls template_preprocess_paragrap

[2021-12-04 15:32] argiepiano commented on #28
@laryn , after moving the `paragraphs-item.tpl.php` file into the themes folder, I'm can't reproduce the error reported here. I left the tpl file intact and also verified that it's being called. Can you let me know if you have modified the tpl file (or any of the parent tpl files like `node.tpl.php` or `paragraphs-items.tpl.php`? For example, are you doing some custom printing of a sub-element of

[2021-12-04 19:08] argiepiano commented on #28
@laryn I was able to reproduce the error reported here by enabling Modal Administration for Paragraphs, and by using a template file in the theme's folder rather than the one provided by the the module. So, that's progress.

I have a hunch that this (as well as https://github.com/backdrop-contrib/paragraphs/issues/91) is all caused by the double call of template file. I don't think this is a bug i

[2021-12-05 15:50] argiepiano commented on #28
This issue was the result of issues with Paragraphs that have been resolved. See https://github.com/backdrop-contrib/paragraphs/issues/110. Closing.

[2021-12-05 15:50] #28 closed, assigned to nobody

[2021-12-05 19:40] argiepiano commented on #71
A couple of these vid mentions actually refer to "version ID", which unfortunately is the column used to store the revision id for some entities like nodes. However other mentions do refer to vocabulary ids, and should be cleaned. I'll get to that soon

[2021-12-06 05:54] argiepiano opened #96 "Taxonomy wrapper code and vocabulary code need cleanup"
Since Backdrop's taxonomy vocabularies are not entities anymore (see https://github.com/backdrop/backdrop/pull/520), the wrapper code for vocabularies needs to be updated. The fact that they are not entities makes it more difficult.

This is related to #71 . PR coming

[2021-12-07 05:15] #94 closed, assigned to argiepiano

[2021-12-07 05:21] argiepiano commented on #96
PR #97

@laryn let me know if you want to take a look at these changes before I merge. To test, you can create a metadata wrapper of a taxonomy term and then access the vocabulary properties (like `machine_name` or `description`) through the chained properties, as in `$term_wrapper->vocabulary->description->value()`.

You can also create a wrapper of a post node that has values in the Tags field,

[2021-12-07 20:34] laryn commented on #96
@argiepiano No, if you've tested thoroughly and feel good I say merge away. This is great -- thanks so much for all the improvements and fixes you're creating!

[2021-12-09 04:26] argiepiano opened #98 "Clean up coding to adhere to coding standards"
Tests for coding standards consistently fail

[2021-12-09 04:38] argiepiano commented on #98
@laryn , I was going to start cleaning up to adhere to coding standards, but I noticed that Backdrop core actually doesn't have these coding standard tests as far as I can tell. I'm wondering if we are being just overly meticulous by running these tests? Some of them, like the requirement that classes use UpperCamel labeling without underscores are impossible to change without changing core classe

[2021-12-09 04:40] #96 closed, assigned to nobody

[2021-12-09 04:42] #80 closed, assigned to argiepiano

[2021-12-09 04:43] laryn commented on #98
@argiepiano We may need to add certain files to the ignore list.

e.g.
https://github.com/backdrop-contrib/paragraphs/blob/1.x-1.x/.github/workflows/coding-standards.yml#L36

[2021-12-09 05:06] #77 closed, assigned to nobody

[2021-12-09 05:06] #71 closed, assigned to nobody

[2021-12-10 02:54] argiepiano opened #99 "Modify coding-standars.yml to ignore views files"
Views files contain classes that don't use UpperCamel labeling and therefore fail the tests. Those need to be ignored by the coding-standard action by modifying the appropriate action yml file. PR coming

[2021-12-10 02:56] argiepiano commented on #99
PR: #100

[2021-12-11 19:00] hosef commented on #44
@laryn I took a look at the PR and those all seem like reasonable changes. I agree that we should be using entity instead of entity_plus whenever possible.

[2021-12-11 19:14] argiepiano commented on #44
@hosef and @laryn : since this change involves mostly variables, I agree that there are no issues there. There are a couple of instances where the change has already been merged (see #83 , where 'entity_plus_type' threw an error when passed to EntityFieldQuery.).

[2021-12-13 16:07] laryn commented on #44
Great -- thanks both for looking this over. Feels cleaner to just use `$entity_type`!

[2021-12-25 21:39] bugfolder opened #101 "entity_plus_get_property_info('node') is incomplete during Simpletest tests"
This arose when I was investigating why many of the ported tests in Rules module were failing. Eventually, I narrowed the issue down to this peculiar behavior.

In a standard Backdrop installation, which creates the `page` and `post` types, the function `entity_plus_get_property_info('node')` will return an array with two keys, `array( 'bundles' => ..., 'properties' => ...)`.

In a Simpletest test

[2021-12-25 21:57] argiepiano commented on #101
@bugfolder I'm unable to replicate this issue. See attached image. I followed your directions and added your debug line within `entity_plus.test` , inside `testEntityQuery`.

Are you working with the latest dev version of Entity Plus? We have been making several changes that have not been released yet.

<img width="1169" alt="Screen Shot 2021-12-25 at 2 55 32 PM" src="https://user-images.githubuse

[2021-12-25 21:58] argiepiano commented on #101
Can you tell me to which specific test function you added your line?

[2021-12-25 22:02] bugfolder commented on #101
Thanks for the quick response! Hmm, I just downloaded the latest dev release, trying it, and am still seeing it.

So maybe it's something peculiar to Rules's testing setup (I've only been trying it in various Rules tests).

[2021-12-25 22:04] argiepiano commented on #101
I can probably take a closer look in a couple of hours. Can you give me more details as to which test method and from which module? (Rules I assume)

[2021-12-25 22:12] bugfolder commented on #101
So I just tried what you described doing, and it behaved (with both 1.0.13 and the dev version of Entity Plus). So, yeah, sorry, it must be some interaction with what Rules is doing to set up for testing.

I found that if I put that debug() call even in the setUp method of any of several different Rules tests (but after calling the `parent::setUp()`) it lost the bundles tag.

With that added infor

[2021-12-25 22:39] bugfolder commented on #101
Well, that was (is) weird. It appears that I need to explicitly include `entity_plus` and `locale` in the setup call (like this):
[code]
and then that not only addresses the issue with `entity_plus_get_property_info()`, it fixes the particular tests that were failing due to the discrepancy. So, progress!

I'll close this issue, since it seems like the problem was a Rules thing, not an Entity Plus

[2021-12-25 22:39] #101 closed, assigned to nobody

[2022-01-02 03:22] argiepiano opened #102 "Provide a function that returns a metadata wrapper for 'site'"
D7's Entity API provided `entity_metadata_site_wrapper()` that returned a wrapper for 'site'.  While property info IS provided in Entity Plus (in file `system.info.inc`, function `entity_plus_metadata_system_entity_property_info()`), the function that actually provides a wrapper did not make it into Entity Plus.

Instead, whoever ported Entity Tokens noticed this issue and included this function w

[2022-01-03 00:15] #99 closed, assigned to nobody

[2022-01-03 00:53] #98 closed, assigned to nobody

[2022-01-03 00:54] #70 closed, assigned to nobody

[2022-01-03 01:02] argiepiano commented on #65
@laryn , I'm not sure what this issue means. I don't see a PR and this doesn't seem to be a bug. Can we close this?

[2022-01-03 01:51] laryn commented on #65
@argiepiano Sorry I just reread my comments and do see that was quite a mess.

The issue that remains here is that file entity went into core (https://github.com/backdrop/backdrop-issues/issues/2632) but it went directly in the file module, not in a separate ‘file _entity’ module. Maybe the line checking if the file entity module exists can just be chopped out?

[2022-01-03 04:22] argiepiano commented on #65
Thanks, @laryn. I've been looking into this further. Not only did Backdrop add file entities into core, but it also added `file_access()`, which makes the code for the 'access callback' provided in Entity Plus more similar to the 'access callback' functions for other entities like nodes, etc.  The current code in Entity Plus worked around the fact that `file_access` did not exist. Additionally, fi

[2022-01-03 05:42] argiepiano commented on #65
PR #105 . @laryn , I've done testing with metadata wrappers by loading a file and a user and doing access checks as follows:
[code]
I tested all 5 ops, create, download, delete, update and view. Everything seems to be working properly. Please review.

(Another way to test, of course, is by calling `entity_plus_access()`)

[2022-01-04 04:27] laryn commented on #65
@argiepiano Great! I just had a simple question in the PR related to wrapping text in the `EntityMalformedException` call in `t()`. I checked in core and it looks inconsistent, interestingly:

 - https://github.com/backdrop/backdrop/search?q=EntityMalformedException

[2022-01-04 17:24] argiepiano commented on #65
I'll add that. I'll open a separate issue to add it to other instances of `EntityMalformedException` in Entity Plus

[2022-01-04 17:26] argiepiano commented on #65
I've added `t()` around the argument to `EntityMalformedException`. If the code looks good to you, let me know and we can merge this.

[2022-01-04 17:31] argiepiano opened #106 "Use `t()` around argument of `EntityMalformedException`"
There is one use of EntityMalformedException without `t()`  inside `entity_plus_metadata_no_hook_node_access()`.

[2022-01-04 17:34] laryn commented on #65
@argiepiano I think it looks good! Thanks again.

[2022-01-05 05:31] #65 closed, assigned to nobody

[2022-01-05 05:38] argiepiano commented on #106
PR #107 . @laryn if there are no concerns about this one I'll merge

[2022-01-05 05:57] laryn commented on #106
Looks good to me.

[2022-01-07 21:13] #106 closed, assigned to nobody

[2022-01-07 21:34] argiepiano commented on #51
This issue is caused by https://github.com/backdrop/backdrop-issues/issues/5440 , specifically the problem with `cacheGet()`. What that's fixed, this problem will go away.

[2022-01-08 04:09] argiepiano opened #108 "Provide default array for url() in entity_plus_metadata_entity_plus_get_properties"
When retrieving the value of the `url` entity property from a metadata wrapper (e.g. `$w->url->value()`) `entity_plus_metadata_entity_plus_get_properties` throws an error if the entity's `uri()` method returns null or an empty array. This is the case with `ParagraphsItem` entities, for example.

We should provide an empty default value so that `url()` doesn't throw an error.

PR #109.

[2022-01-09 21:35] argiepiano opened #110 "Change `language` property to `langcode` in node.info.inc"
The correct name for the node property is `langcode`, not `language`. The schema field should also be changed to `langcode`, since this was changed in Backdrop.  This also needs to be changed in the tests.

[2022-01-09 21:35] argiepiano commented on #110
For backward compatibility, perhaps we can wrap the getter and setter of langcode so that it will also take language

[2022-01-09 23:13] #102 closed, assigned to nobody

[2022-01-09 23:14] #108 closed, assigned to nobody

[2022-01-09 23:18] argiepiano commented on #33
This issue and also the one mention by @Wylbur above are fixed in the current dev version of Entity Plus.  See #78

[2022-01-09 23:18] #33 closed, assigned to nobody

[2022-01-23 18:23] argiepiano opened #111 "Vocabularies have only partial metadata wrapper functionality"
As vocabularies are not entities anymore in Backdrop, the current metadata wrapper coverage is only partial. Wrappers only allow for read/value access of vocabularies when they are properties of a taxonomy term wrapper.  As such, vocabularies were up to now defined as struct properties of terms, and used class EntityStructureWrapper, which doesn't allow for saving or deleting Vocabularies.

This c

[2022-01-23 19:05] argiepiano commented on #111
PR #112

To test manually try the following:
1. Enable Devel and go to admin/devel/php
2. Add a few terms to the tags vocabulary (installed by default) admin/structure/taxonomy/tags/add
3. Execute the following code or any variations thereof:

[code]

Eventually it'd be good to add the above to one of the tests.

[2022-01-23 22:15] argiepiano commented on #111
And to test the fixed term setter and raw getter, create a second vocabulary called 'another':

[code]

[2022-01-24 02:04] argiepiano commented on #111
I have added several new tests for vocabulary wrappers based on the above. All passing!

[2022-01-25 16:16] #111 closed, assigned to nobody

[2022-01-28 18:02] argiepiano opened #113 "`entity_plus_metadata_user_save()` relies on an old definition of `user_save`"
In Backdrop user_save() only takes one argument - `User $account`.   `entity_plus_metadata_user_save()` was used as a wrapper of the old `user_save()` that took two arguments (an array $account, and an array $edit).

In fact `entity_plus_metadata_user_save()` is not necessary anymore. The `save callback` defined by Entity Plus for the user entity in `hook_entity_info_alter()` can simply be `user_s

[2022-01-28 19:19] argiepiano commented on #113
In fact, since the user entity in Backdrop's core is different than D7's, and its entity class `User` now has a `save` method, this `save callback` is NEVER used for user entities (and I suspect, for any other entity).

However, we should keep the `save callback` key/value pair since other modules do check on this (e.g. Rules)

[2022-02-01 01:20] diannevolek opened #115 "Use of undefined constant ENTITY_CUSTOM? on update."
When I tried to do this update, I received the following messages just before the database updates and I can't go further.

Warning: Use of undefined constant ENTITY_CUSTOM - assumed 'ENTITY_CUSTOM' (this will throw an Error in a future version of PHP) in search_api_index_load_multiple() (line 2841 of /home/cbibreakers/public_html/modules/contrib/search_api/search_api.module).

Warning: Use of und

[2022-02-01 01:40] argiepiano commented on #115
Hello @diannevolek . Thanks for reporting.

This is an issue with the Search API module. Entity Plus recently changed its constants to start  with ENTITY_PLUS_XXX  to avoid collisions with other modules. It looks like the maintainers did not make that change in Search API.

I will open an issue there, since this will affect other people too.

[2022-02-01 01:50] argiepiano commented on #115
@diannevolek , as a temporary workaround, go ahead and install Entity UI. That module defines those same constants without the "PLUS" identifier. That way Search API will be able to find those constants.

[2022-02-02 01:30] #113 closed, assigned to nobody

[2022-02-02 16:51] laryn commented on #67
WIP here: https://github.com/backdrop-contrib/entity_plus/pull/116

[2022-02-04 19:39] albanycomputers opened #117 "Fatal error - BD 1.20.3 update to 1.21.1 with PHP 7.0"
While updating a site from 1.20.3 to 1.21.1 I received a fatal error, I did a bit of experimenting and had to restore the site, finally got the site to update after changing the server to PHP 7.4.

Here is what I went through.

Fatal error: Declaration of EntityPlusControllerInterface::buildContent($entity, $view_mode = 'full', $langcode = NULL) must be compatible with EntityControllerInterface::b

[2022-02-04 19:42] albanycomputers commented on #117
On Zulip, Attila Vasas suggested the following.

Try this hot fix in the modules/entity_plus/includes/entity_plus.controller.inc:

Remove , $content = array() from line 634
Before:
  public function buildContent($entity, $view_mode = 'full', $langcode = NULL, $content = array()) {
After:

  public function buildContent($entity, $view_mode = 'full', $langcode = NULL) {
Replace $content with array()

[2022-02-05 04:26] argiepiano commented on #117
I'm unable to replicate this issue with 7.4 and the latest versions of Entity Plus and Paragraphs (please note: b.org is still serving Pararaphs 1.0.0 - that's a bug. The latest version is 1.2.0-beta1). That has to be installed manually.

One clue -  core's `EntityControllerInterface:buildContent()` now uses type-hinting for the first argument, while `EntityPlusControllerInterface::buildContent()`

[2022-02-05 04:44] argiepiano commented on #117
Confirmed! I tried installing E+ and Paragraphs with PHP 7.1.33 (I do not have PHP 7.0 in my local). I was able to reproduce the error. The error goes away if you manually fix the type-hinting of buildContent (please notice that this is not the fix that Attila Vasas suggested above - his fix still produces the error).

I will provide a PR in a minute, which will be incorporated  in the next releas

[2022-02-05 04:54] argiepiano commented on #117
PR #118

@albanycomputers , it'd be great if you could check this fix in PHP 7.0

[2022-02-05 05:02] argiepiano commented on #117
Oh, one more thing @albanycomputers . Be sure to also apply the patch here to Paragraphs:
https://github.com/backdrop-contrib/paragraphs/pull/121

[2022-02-05 05:02] argiepiano commented on #117
Reopening while waiting for others to test this fix.

[2022-02-05 11:17] VasasA opened #119 "Implement hook_modules_enabled() to create default entities defined by the enabled modules"
Please see the [issue 12 of OG module.](https://github.com/backdrop-contrib/og/issues/12)
The bug of OG fixed by implemented `hook_modules_enabled()` and `_entity_plus_modules_get_default_types()` functions in `entity_plus.module` No need to modify OG's source code. Entity module implements these functions in D7.
Entity module implements further functions in D7, but the Entity Plus doesn't in BD:

[2022-02-05 16:25] argiepiano commented on #119
@VasasA thank you for reporting. Have you tested this addition with OG? Does it solve the issue there? If so, can you provide a PR here?

[2022-02-06 14:23] VasasA commented on #119
Yes, I tested, and it fixed the [issue 12 of OG module.](https://github.com/backdrop-contrib/og/issues/12)
I provided the PR. :+1:

[2022-02-06 16:06] argiepiano commented on #119
Thank you for providing the PR. I'll test.

Can you please also add to your PR the function `entity_modules_disabled()`? (which should  be called `entity_plus_modules_disabled()`)

This is an important function as it removes from the database all module default types when uninstalling a module.

[2022-02-06 16:59] argiepiano opened #121 "Restore entity_plus_export() and entity_plus_import()"
In D7, `entity_export()` called the controller's export method and gave you the ability to generate a JSON text that could be used to export a configuration entity.

While EntityPlusControllerExportable still has an `export()` and `import()` methods, and even though the function `entity_plus_var_json_export()` still exist in Entity Plus, the key functions `entity_plus_export()` and `entity_plus_im

[2022-02-06 19:18] argiepiano commented on #121
PR #122

[2022-02-06 23:52] VasasA commented on #119
I've implemented the `entity_plus_modules_disabled()` function, but I have got 2 problems:
1. I cannot test this function by OG module, because when I disable the OG, then the `_entity_plus_modules_get_default_types($modules)` function returns an empty array. So the `foreach` loop exits. (See below.) It is the expected behavior, because OG module is disabled, when this function starts. This is how

[2022-02-07 00:03] argiepiano commented on #119
@VasasA thanks for pasting.

Regarding the constants, they have been renamed in Entity  Plus to ENTITY_PLUS_XXX, so please change those in the code you pasted there. We don't need to depend in Entity UI.

So, yes, please add entity_plus_modules_disabled to your PR, after changing the names of all the constants.

After you do that I will be able to test and review the code more thoroughly. Thanks f

[2022-02-07 00:24] VasasA commented on #119
:+1:  Thank You for suggestions.
I have changed the names of constants, and updated the PR.

[2022-02-07 02:32] #121 closed, assigned to nobody

[2022-02-07 04:19] argiepiano commented on #119
@VasasA thanks so much for adding those. I've added three comments to your latest PR - changes are needed. Can you please make those changes and update the PR?

I've tested the code in `entity_plus_modules_enabled()` and it seems to work fine. Once you submit the latest changes I think we will be ready to merge.

[2022-02-07 08:43] VasasA commented on #119
Sorry for the deficiencies. I made the changes. I found 2 `entity_load()`, replaced them.

[2022-02-08 01:46] #119 closed, assigned to nobody

[2022-02-08 13:33] VasasA commented on #119
Thank You for the collaboration 😃

[2022-02-11 18:44] albanycomputers commented on #117
@argiepiano Sorry for only just getting back into this... it's been a busy/tiring week...

Could you clarify which of the above still needs testing... I don't want to waste time testing things that have been successful.

[2022-02-11 19:07] argiepiano commented on #117
@albanycomputers no need to test - but if you have a chance you would need to:

1. Download the dev version of Entity Plus, which already contains this PR and move it to your modules folder
2. Use PHP 7.0 or 7.1
3. Download the dev version of Paragraphs, which also contains a similar PR that fixed this issue and put it in the modules folder
4. Then just open the site. If you don't see the PHP fata

[2022-02-15 03:19] argiepiano commented on #115
Closing as this issue is caused by Search API

[2022-02-15 03:19] #115 closed, assigned to nobody

[2022-02-16 22:32] laryn opened #123 "Update GHA configuration"
Seems best to follow @indigoxela's lead on GHA configuration, so we should update to match this latest:

 - https://github.com/backdrop-contrib/i18n/commit/9067c22d665be882c8f06bea88af2f5aa88dee01

[2022-02-16 22:38] argiepiano commented on #123
Sounds good to me. Do you want to provide a PR?

[2022-02-16 22:51] laryn commented on #123
Yes, I will.

[2022-02-17 00:45] argiepiano commented on #123
Thanks, @laryn . For some reason a vocabulary test that passed before is failing now.  I'm going to check what's going on.

[2022-02-17 01:18] laryn commented on #123
Strange!

[2022-02-17 14:11] indigoxela commented on #123
One possible reason: tests are now run with the profile cache. To figure out if it's that, remove the `--cache` option from the last line.
If it's caused by the profile cache... hm... not sure.

[2022-02-17 14:17] argiepiano commented on #123
Thanks, @indigoxela. I did not have a chance to check yesterday. I'll check what you mentioned today, but I think it has to do with vocabulary comparisons, and the new "original" key.

[2022-02-17 14:19] indigoxela commented on #123
Ah! Nice catch!

[2022-02-17 15:18] argiepiano opened #125 "Three vocabulary tests fail after property `original` was added to core"
After `original` was added to vocabularies in core for update operations, three vocabulary tests are failing.

This is happening because the tests use a comparison between an updated vocabulary and a new one (they differ in the `original` property).

PR coming.

[2022-02-17 15:23] #125 closed, assigned to nobody

[2022-02-17 15:29] #123 closed, assigned to nobody

[2022-02-17 15:30] argiepiano commented on #117
Closing, as this issue is now fixed.

[2022-02-17 15:30] #117 closed, assigned to nobody

[2022-03-12 10:05] robertgarrigos commented on #115
Not exactly. This error is caused by not having Entity UI module enabled, which is the module who [defines that constant](https://github.com/backdrop-contrib/entity_ui/blob/c0078bc295b757bbd5a0a1e65daf09b8ed92b59d/entity_ui.module). And [there are many other modules](https://github.com/search?q=org%3Abackdrop-contrib+ENTITY_CUSTOM&type=code) which use that constant.

But yes, Search API could fix

[2022-03-12 14:03] argiepiano commented on #115
Thanks @robertgarrigos. Actually, it's more complex than that. Entity Plus used to define those constants, but the names were changed last year to avoid a conflict with Entity UI (Entity Plus and Entity UI were part of a single D7 module, Entity API. Entity API was ported to Backdrop in bits and pieces, and Entity Plus and Entity UI were split. Both ended up defining the same constants).

So, it w

[2022-04-06 21:48] muranod opened #127 "Deprecated functions - Can't run site update.php because of entity_plus"
1.x-1.0.15

I think all was fine when I worked on the site five or six days ago.

Noticed this right after updating core to latest version and then running update.php, both automatically and from the address bar.

    Deprecated function: Return type of EntityStructureWrapper::getIterator() should either be compatible with IteratorAggregate::getIterator(): Traversable, or the #[\ReturnTypeWillChan

[2022-04-06 22:22] argiepiano commented on #127
This looks suspiciously like a problem generated by PHP 8. What version of PHP are you using? We'll probably need to investigate a fix by looking at any PHP 8 fixes in D7 Entity API.

As a quick and dirty fix, see if you can set your site to use PHP 7.4?

[2022-04-06 22:26] argiepiano commented on #127
Confirmed. See D7 Entity API issue https://www.drupal.org/project/entity/issues/3249556.

I'll work on a patch.

[2022-04-06 22:38] argiepiano commented on #127
@muranod can you please test the PR I just provided and confirm that it removes these deprecation notices? PR #128.

[2022-04-07 11:39] muranod commented on #127
Thanks,  for the messages. Yes, it’s php 8.1.2 because I’m setting both backdrop and drupal 9, was hoping I’d have fewer issues transitioning to d10.

My skill level is not all that high – do I need to patch the current module (if I can figure that out – haven’t done that in years)  or download the tar/zip file and install.
Tried the latter, but update now cites unresolved dependencies and won’t r

[2022-04-07 11:44] muranod commented on #127
Thanks for the quick responses. Yes, it is php 8.1.2 – setting up the same site in both Backdrop and Drupal 9 – was hoping using v8 would ease the transition to D10.

Do I need to patch the module with the code or can I dl and install the tar/zip file? I tried that and it installed, but I get “unresolved dependency” errors re: needing EP v. 1.0.5 and the update won’t run.

Apologies for my lack of

[2022-04-07 12:58] argiepiano commented on #127
@muranod thanks for the reply. The "Unresolved dependency" error is unrelated to this fix. It means that you probably downloaded the "dev" version of Entity Plus and a module that depends on it (Rules? Entity Tokens?) is complaining. The way to fix this new error is to be sure you actually patch the latest release of Entity Plus, not the dev version. You can find the latest release here: https://g

[2022-04-07 13:14] muranod commented on #127
Awesome. Thanks, Alejandro!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Alejandro ***@***.***>
Sent: Thursday, April 7, 2022 8:58 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [backdrop-contrib/entity_plus] Deprecated functions - Can't run site update.php because of entity_plus (Issue #127)

@muranod<https://github.com/muranod> thanks for th

[2022-04-13 00:16] argiepiano opened #129 "Key label_display is undefined in template_preprocess_entity_plus_property"
We need to add a check to see if this key is provided in the element array. Otherwise multiple warnings are thrown.
PR coming

[2022-04-13 00:27] #129 closed, assigned to nobody

[2022-04-13 03:15] argiepiano opened #131 "Disable coding standards automated tests"
Since the Backdrop coder sniffer's coding standard definition is not likely to be updated any time soon (see stuck discussion https://github.com/backdrop/backdrop-issues/issues/5245), it's best to disable that test until that issue is resolved.

The main issue is that we have a PR that adds PHP attributes (#128), which produces failures of the coding standard tests, since that syntax is not includ

[2022-04-13 03:18] argiepiano commented on #131
Done.

Functional tests remain enabled.

[2022-04-13 03:18] #131 closed, assigned to nobody

[2022-04-13 03:19] #127 closed, assigned to nobody

[2022-04-18 03:16] argiepiano opened #132 "Complete hook documentation"
Currently not all hooks are documented in entity_plus.api.php.

[2022-04-18 03:27] #132 closed, assigned to nobody

[2022-05-08 00:04] argiepiano opened #134 "Entity metadata wrapper sets the user roles incorrectly"
EMW sets the user roles incorrectly. The problem is the code under `entity_plus_metadata_user_set_properties()`, which follows the role pattern used in D7. In Backdrop, these are different. Setting the role `editor` for an authenticated user should result in a user's role array:

`array(0 => 'authenticated', 1 => 'editor)`

Instead the resulting user's role array looks like:

`array('authenticated

[2022-05-08 00:14] #134 closed, assigned to nobody

[2022-05-09 15:59] argiepiano commented on #134
Further clarification, as my explanation above may not be completely clear.

The roles for each user are saved in the table `users_roles` with two columns: uid and role. The role column is the machine name of the role. The bug I fixed resulted in the human name being saved in the role column instead of the machine name.

To test you can do the following
1. Load a user (e.g. `$u = user_load(1);`)
2

[2022-05-09 15:59] argiepiano commented on #134
Furthermore, this bug really messed up the `users_roles` table, creating all sort of errors, for example,  for Views that output roles

[2022-06-05 04:30] argiepiano opened #136 "Trying to access property 'type' of file entities with a wrapper produces fatal errors"
~~Apparently the properties of file entities are not defined correctly for metadata wrappers. This may be a legacy of D7, as file entities were not full-fledged entities.~~

Edit: All properties except type are defined in Entity Plus' file `system.info.inc`.   Property `type` needs to be added there (this property was added in D7 by the `file_entity` module

[2022-06-05 16:45] argiepiano commented on #136
PR #137

@laryn, @hosef  - this is a very simple PR that adds metadata for the `type` property for `file` entities. In D7 this metadata was added by the contrib module `file_entity`.

I'll wait a few days before merging in case you want to test or have feedback. I copied-pasted (and slightly adapted to match the function names in B) from `file_entity`.

[2022-06-05 20:39] argiepiano commented on #110
PR #138.

Both properties `language` and `langcode` are available. `language` now works properly (it was pointing to the wrong schema field)

Metadata property `language` is kept for backward compatibility.

[2022-06-06 03:36] argiepiano commented on #63
Closing due to lack of activity on this. Feel free to reopen if you have new information or steps to reproduce the problem, or if the problem still persists.

[2022-06-06 03:36] #63 closed, assigned to earlyburg

[2022-06-06 03:44] argiepiano commented on #47
Core already has this feature since 1.22.0. It will automatically enable required contrib modules that did not exist in D7.

There are a few cases where use of a ["stub" entity_plus module](https://github.com/backdrop-contrib/rules/wiki/Upgrading-Rules-from-Drupal-7) in D7 may still required.

[2022-06-06 03:44] #47 closed, assigned to nobody

[2022-06-06 03:45] argiepiano opened #139 "Include `EntityPlusDefaultViewsController` in hook_autoload_info"
class EntityPlusDefaultViewsController is not included in the autoload. This causes problems for upgrades (e.g. Organic Groups), which necessitate the stub Entity Plus module in D7.

[2022-06-20 20:45] argiepiano opened #140 "Include documentation on hook_entity_views_field_handlers_alter"
This should be added to entity_plus.api.php

[2022-09-06 01:42] argiepiano opened #141 "Merging Entity UI into Entity Plus"
This is the counterpart issue to https://github.com/backdrop-contrib/entity_ui/issues/16.

There has been some [conversation on Zulip](https://backdrop.zulipchat.com/#narrow/stream/218635-Backdrop/topic/Testing.20Entity.20UI.20dev.20version/near/295963831) about merging back Entity UI into Entity Plus. It would make sense, since these two modules are closely integrated - it's rare to see Entity UI

[2022-09-06 12:52] argiepiano opened #142 "Fix reference to entity_property_verbatim_set in entity_plus.api.php"
Fix reference to entity_property_verbatim_set in entity_plus.api.php. It should be entity_plus_property_verbatim_set

[2022-09-07 16:45] laryn commented on #141
I think it makes sense to merge these two together.

[2022-09-07 17:22] docwilmot commented on #141
Which is the best way?
- make UI a submodule of Plus, keeping the function names as `entity_ui_xxx()`
- merge the functionality of UI into Plus, change function names to `entity_plus_xxx()`
- make UI a submodule of Plus, change function names to `entity_plus_xxx()`

[2022-09-09 15:21] argiepiano commented on #141
Since the idea is to deprecate Entity UI, I'm leaning toward the second option:

but keeping the `ui` in the function names (as in `entity_plus_ui_xxx()`, as done in the D7 module, to indicate the different functionality.  I'd suggest we put most of the functions in `entity_plus_ui.inc` as done in D7. We will also need to eliminate a couple of duplications (the constants, for example, and `entity_

[2022-09-09 15:29] argiepiano commented on #141
I think we should keep the names of the Entity UI controllers (e.g. `EntityDefaultUIController`), to simplify the move. This way contrib modules that currently extend those classes won't have to worry about changing those.

[2022-10-11 07:07] muranod commented on #127
Thanks much for this, Alejandro.

Sorry I didn’t respond sooner - I have a houseguest staying in the room with the dev computer, so I haven’t been able to work on this over the weekend.

I did try many times last week, but couldn’t get the patch to apply – my lack of skills are at fault.

I will return to trying it this week.

Cheers!

Dan Murano

Sent from Mail<https://go.microsoft.com/fwlink/?Li